PS4_Build
Temp
Library
/*.sln
/*.userprefs
/soe.sublime-workspace
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-UnityScript.unityproj
/Assembly-UnityScript-Editor.unityproj
/Assembly-UnityScript-Editor-vs.unityproj
/Assembly-UnityScript-firstpass.unityproj
/Assembly-UnityScript-firstpass-vs.unityproj
/Assembly-UnityScript-vs.unityproj
/ChoicesBattle.sln
/ChoicesBattle.userprefs
/ChoicesBattle-csharp.sln
/soe.sublime-project
/build
/Press
